<div class="display-3 text-center text-uppercase">
    <%= title %>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="about-container">
                <img src="img/image-1.jpeg" alt="profile image" class="thumbnail mx-auto d-block">
            </div>
            <h1 class="col text-center">Asep Gunawan</h1>
            <p class="lead text-center">Bootcamp 2022</p>

            <p class="lead text-center">
                This is a lead paragraph. It stands out from regular paragraphs.
            </p>
        </div>
    </div>
</div>