<div class="container-fluid">
    <div class="display-5">List Contact</div>
    <a href="/add-contact/"><button type="button" class="btn btn-outline-info">Add Contact</button></a>
</div>

<div class="table-container table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nama</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <% if( contacts.length < 1){ %>
                    <p>empty</p>
                    <% } else { %>
                        <!-- loop through array and show it to the list -->
                        <% contacts.forEach(( contact, index)=> { index++ %>
                            <th scope="row">
                                <%= index %>
                            </th>
                            <td>
                                <%= contact.name %>
                            </td>
                            <td>
                                <%= contact.email %>
                            </td>
                            <td><a href="/detail-contact/<%= contact.name%>"><button type="button"
                                        class="btn btn-outline-info">Detail</button></a></td>
            </tr>
            <% }); %>
                <% } %>
        </tbody>
    </table>
</div>