<ul>
    <h3>Links</h3>
    <li>
        <a href="#">Home</a>
    </li>
    <li>
        <a href="/about"> About</a>
    </li>
    <li>
        <a href="/contact"> Contact</a>
    </li>
</ul>

<!-- <nav class="nav">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#"></a>
  </nav> -->