.table-container {
    margin: 0 2%;
}

img {
    /* set image width */
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;

    /* add border to image */
    border-style: solid;
    border-width: thin;
    border-spacing: 20px;
    border-radius: 20%;
    padding: 5px;

    box-shadow: 5px;
}

.thumbnail {
    box-shadow: 0px 10px 25px;
}

.thumbnail:hover {
    width: 20%;
}

.nav {
    margin-bottom: 20px;
}