.table {

    .cellWrapper {
        display: flex;
        align-items: center;

        .image {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 10px;
        }
    }

    .status {
        padding: 5px;
        border-radius: 5px;

        &.Approved {
            color: green;
            background-color: rgba(0, 128, 0, 0.112);
        }

        &.Pending {
            color: goldenrod;
            background-color: rgba(218, 165, 32, 0.112);
        }
    }
}