<div class="bg-light text-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container-fluid ">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="navbar-brand px-4" href="/index">Dashboard</a>
                    <a class="navbar-brand px-4" href="/product_list">Product List</a>
                    <a class="navbar-brand px-4" href="/selling_list">Selling List</a>
                    <a class="navbar-brand px-4" href="/user_list">User List</a>
                    <a class="navbar-brand px-4" href="/logout/user">Log out</a>
                </div>
            </div>
        </div>
    </nav>
    </dixv>