<div class="display-3 text-center text-uppercase">
    <%= title_page %> Me
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <img src="img/image-1.jpeg" alt="profile image" class="mx-auto d-block rounded-circle">
            <h1 class="col text-center">Asep Gunawan</h1>
            <p class="lead text-center">Bootcamp 2022</p>
        </div>
    </div>
</div>